site_name: optype
site_description: Building blocks for precise & flexible type hints
site_url: https://jorenham.github.io/optype
repo_url: https://github.com/jorenham/optype
repo_name: jorenham/optype
edit_uri: edit/master/docs/

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - autorefs
  - hippogriffe
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            separate_signature: true
            docstring_section_style: table
            force_inspection: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jorenham/optype
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/optype

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Reference:
      - reference/index.md
      - Core Types:
          - Just: reference/core/just.md
          - Type Conversion: reference/core/conversion.md
          - Rich Relations: reference/core/relations.md
          - Binary Operations: reference/core/binary.md
          - Reflected Operations: reference/core/reflected.md
          - Inplace Operations: reference/core/inplace.md
          - Unary Operations: reference/core/unary.md
          - Rounding: reference/core/rounding.md
          - Callables: reference/core/callables.md
          - Iteration: reference/core/iteration.md
          - Awaitables: reference/core/awaitables.md
          - Async Iteration: reference/core/async-iteration.md
          - Containers: reference/core/containers.md
          - Attributes: reference/core/attributes.md
          - Context Managers: reference/core/context.md
          - Descriptors: reference/core/descriptors.md
          - Buffer Types: reference/core/buffer.md
      - Standard Library:
          - optype.copy: reference/stdlib/copy.md
          - optype.dataclasses: reference/stdlib/dataclasses.md
          - optype.inspect: reference/stdlib/inspect.md
          - optype.io: reference/stdlib/io.md
          - optype.json: reference/stdlib/json.md
          - optype.pickle: reference/stdlib/pickle.md
          - optype.string: reference/stdlib/string.md
          - optype.typing: reference/stdlib/typing.md
          - optype.dlpack: reference/stdlib/dlpack.md
      - NumPy:
          - reference/numpy/index.md
          - Shape Typing: reference/numpy/shape.md
          - Array-likes: reference/numpy/array-likes.md
          - Literals: reference/numpy/literals.md
          - Compatibility: reference/numpy/compat.md
          - Random: reference/numpy/random.md
          - DType: reference/numpy/dtype.md
          - Scalar: reference/numpy/scalar.md
          - UFunc: reference/numpy/ufunc.md
          - Type Aliases: reference/numpy/aliases.md
          - Low-level: reference/numpy/low-level.md
