[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "optype"
version = "0.4.0"
description = "Building blocks for precise & flexible type hints"
authors = ["Joren Hammudoglu <jhammudoglu@gmail.com>"]
license = "BSD-3-Clause"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Operating System :: OS Independent",
    "Typing :: Typed",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
repository = "https://github.com/jorenham/optype/"
documentation = "https://github.com/jorenham/optype?tab=readme-ov-file#optype"
[tool.poetry.urls]
"Bug Tracker" = "https://github.com/jorenham/optype/issues"
"Changelog" = "https://github.com/jorenham/optype/releases"

[tool.poetry.dependencies]
python = "^3.10"
typing-extensions = {version = ">=4.5", python = "<3.12"}

[tool.poetry.group.dev.dependencies]
pre-commit = '^3.7.1'
tox = "^4.15.1"

[tool.poetry.group.lint.dependencies]
basedpyright = "^1.12.6"
codespell = "^2.3.0"
ruff = "^0.4.8"
sp-repo-review = {version = "^2024.4.23", extras = ["cli"]}
typing-extensions = "*"

[tool.poetry.group.test.dependencies]
pytest = "^8.2.2"
typing-extensions = "*"

[tool.poetry.group.test-github]
optional = true
[tool.poetry.group.test-github.dependencies]
pytest-github-actions-annotate-failures = ">=0.2.0,<1.0"


[tool.codespell]
context = 2
skip = "poetry.lock"
ignore-words-list = "cange"  # CanGe


[tool.basedpyright]
include = ["optype", "examples", "tests"]
stubPath = "."
venvPath = "."
venv = ".venv"
pythonVersion = "3.10"
pythonPlatform = "All"
typeCheckingMode = "all"
reportAny = false
reportUnusedCallResult = false
# because of `sys.version_info()` conditionals
reportUnreachable = false


[tool.pytest.ini_options]
addopts = [
    "-ra",
    "--doctest-modules",
    "--strict-config",
    "--strict-markers",
]
doctest_optionflags = [
    "NORMALIZE_WHITESPACE",
    "IGNORE_EXCEPTION_DETAIL",
    "ELLIPSIS",
]
filterwarnings = ["error"]
log_cli_level = "INFO"
minversion = "8.0"
testpaths = ["optype", "examples", "tests"]
xfail_strict = true


[tool.repo-review]
ignore = [
    "PY004",    # README.md >> docs/
    "PC110",    # optype's style >> (black | ruff-format)
    "PC140",    # (based)pyright >> mypy (by several orders of magnitude)
    "PC170",    # no .rst
    "PC180",    # no .css or .js
    "MY",       # (based)pyright >> mypy (by several orders of magnitude)
    "RTD",      # README.md >> rtd
]


[tool.ruff]
src = ["optype", "examples", "tests"]
target-version = "py310"
line-length = 79
indent-width = 4
show-fixes = true
force-exclude = true
extend-exclude = [".github", ".vscode"]

[tool.ruff.lint]
preview = true
select = [
    "F",        # pyflakes
    "E",        # pycodestyle: error
    "W",        # pycodestyle: warning
    "C90",      # mccabe
    "I",        # isort
    "N",        # pep8-naming
    "UP",       # pyupgrade
    "YTT",      # flake8-2020
    "ANN",      # flake8-annotations
    "ASYNC",    # flake8-async
    "TRIO",     # flake8-trio
    "BLE",      # flake8-blind-except
    "B",        # flake8-bugbear
    "A",        # flake8-builtins
    "COM",      # flake8-commas
    "C4",       # flake8-comprehensions
    "DTZ",      # flake8-datetimez
    "T10",      # flake8-debugger
    "EM",       # flake8-errmsg
    "EXE",      # flake8-executable
    "FA",       # flake8-future-annotations
    "ISC",      # flake8-implicit-str-concat
    "ICN",      # flake8-import-conventions
    "G",        # flake8-logging-format
    "INP",      # flake8-no-pep420
    "PIE",      # flake8-pie
    "T20",      # flake8-print
    "PYI",      # flake8-pyi
    "PT",       # flake8-pytest-style
    "Q",        # flake8-quotes
    "RSE",      # flake8-raise
    "RET",      # flake8-return
    "SLF",      # flake8-self
    "SLOT",     # flake8-slots
    "SIM",      # flake8-simplify
    "TID",      # flake8-tidy-imports
    "TCH",      # flake8-type-checking
    "ARG",      # flake8-unused-arguments
    "PTH",      # flake8-use-pathlib
    "TD",       # flake8-todos
    "FIX",      # flake8-fixme
    "ERA",      # eradicate
    "PD",       # pandas-vet
    "PGH",      # pygrep-hooks
    "PL",       # pylint
    "TRY",      # tryceratops
    "FLY",      # flynt
    "NPY",      # numpy
    "AIR",      # airflow
    "PERF",     # perflint,
    "FURB",     # refurb
    "LOG",      # flake8-logging
    "RUF",      # ruff
]
ignore = [
    # flake8-annotations
    "ANN001",   # missing-type-function-argument (deprecated)
    "ANN002",   # missing-type-args (deprecated)
    "ANN401",   # any-type

    # flake8-pyi
    "PYI036",   # bad-exit-annotation

    # refurb
    "FURB118",  # reimplemented-operator
]

[tool.ruff.lint.per-file-ignores]
"examples/*" = [
    # isort
    "I001",     # unsorted-imports
    # flake8-no-pep420
    "INP001",   # implicit-namespace-package
    # pylint
    "PLR2004",  # magic-value-comparison
]
"tests/*" = [
    # flake8-annotations
    "ANN201",   # missing-return-type
    # flake8-self
    "SLF001",   # private-member-access
]

[tool.ruff.lint.isort]
case-sensitive = true
combine-as-imports = true
known-first-party = ["optype"]
lines-after-imports = 2
lines-between-types = 0

[tool.ruff.lint.flake8-quotes]
inline-quotes = "single"

[tool.ruff.lint.flake8-type-checking]
strict = true

[tool.ruff.lint.pylint]
allow-dunder-method-names = [
    "__replace__"   # used by `copy.replace` in Python 3.13+
]

[tool.ruff.format]
# keep in sync with .editorconfig
line-ending = "lf"
indent-style = "space"
quote-style = "single"
docstring-code-format = true
skip-magic-trailing-comma = true


[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
requires =
    tox>=4
envlist =
    py{310,311,312,313b2}
    pre-commit
    repo-review

[testenv]
description = pytest
skip_install = true
allowlist_externals = poetry
commands_pre = poetry install --sync
commands = poetry run pytest

[testenv:pre-commit]
description = pre-commit
skip_install = true
allowlist_externals = poetry
commands_pre = poetry install --sync
commands = poetry run pre-commit run --all-files

[testenv:repo-review]
description = repo-review
skip_install = true
allowlist_externals = poetry
commands_pre = poetry install --sync
commands = poetry run repo-review .
"""
