name: build and publish to PyPI

on:
  workflow_dispatch:
  release:
    types: [prereleased, released]

env:
  UV_LOCKED: 1

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment:
      name: pypi
      url: https://pypi.org/p/optype
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.0

      - uses: astral-sh/setup-uv@v7.1.4
        with:
          python-version: "3.14"

      - name: uv build
        run: uv build

      - name: publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
